<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ricky.mapper.SubjectMapper">

    <insert id="saveBatch">
        insert into subject (name, category, student_id)
        values
        <foreach collection="subjects" item="subject" open="(" separator="),(" close=")">
            #{subject.name}, #{subject.category}, #{studentId}
        </foreach>
    </insert>

</mapper>